/*
1..n = darkest..lightest

turquoise:
  1: #000c08;
  2: #013124;
  3: #145b47;
  4: #3c8973;
  5: #84c7b4;

tan:
  1: #120b00;
  2: #4b2e01;
  3: #8b611f;
  4: #d1a35b;
  5: #ffdda9;

background-color: #f6e38c;
container  background-color: #fffefc;
container  border: 4px solid #a18d33;
*/

body {
  color: #145b47;
  font-family: 'Press Start 2P', sans-serif;
  background-color: #013124;
  position:relative;
}
ul {
  list-style-type: none;
  padding:0;
  margin:0 auto;
}
li {
  padding: 2.5px 0;
}
h1 {
  color: #013124;
}
a {
  color: #145b47;
  text-decoration: none;
}

.title-container {
  display: flex;
}
.subsection {
  margin: 10px 0;
}
.role.info {
  color: #8b611f;
  font-style: italic;
}

.role.details ul {
  padding-left: 5%;
}
.role.details, li.role.link {
  padding-left: 5%;
}
.role, #contact-list span {
  font-family: 'Electrolize', sans-serif;
}

/*Desktop styling*/
@media screen and (min-width:1030px) {
  #avatar-container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  #avatar-container img {
    height: 75px;
    width: 75px;
  }
  h1 {
    margin: 0;
    text-align: center;
  }
  .title-container, #contact-container {
    width: 46%;
  }
  .title-container {
    align-items: center;
    justify-content: space-evenly;
  }
  .column-wrapper {
    display:flex;
  }
  .column {
    width: 48%;
    margin: 0 auto;
  }
  .row {
    height: 125px;
    display: flex;
    justify-content: space-between;
    margin: 5% 2% 0 2%;
  }
  .section-title {
    display: flex;
    height: 35px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #013124;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .section-title .icon-container {
    height: 35px;
    width: 35px;
  }
  .section-title h3{
    margin: 0;
    text-transform: uppercase;
  }
  .section-title .rpg-text {
    margin-left: 5px;
  }
  #container {
    margin: 1% 10%;
  }
  #contact-container {
    height: 100%;
    width: 43%;
    margin-right: 2%;
  }
  #contact-list {
    height: 80%;
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    align-content: stretch;
    padding: 0 10px;
  }
  #contact-list li {
    height: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }
  #contact-list li a {
    height: 100%;
    display: flex;
    align-items: center;

  }
  #contact-list li svg {
    height: 100%;
  }
  #contact-list li span.web {
    margin-left: 5px;
  }
  .print{
    display:none;
  }
}

/*Small Desktop/Tablet styling*/
@media screen and (min-width: 630px) and (max-width: 1029px) {
  #contact-list {
    display: flex;
    margin: 2% 15%;
  }
}

@media screen and (max-width: 629px) {
  #contact-list {
    display: flex;
    margin: 1%;
  }
}

/*Mobile styling*/
@media screen and (max-width: 1029px) {
  .print{
    display:none;
  }
  .title-container, #contact-container {
    padding: 10px;
  }
  .title-container {
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid #d1a35b;
  }
  #avatar-container {
    height: 50px;
    width: 50px;
    align-self: center;
  }
  #avatar-container img {
    height: 100%;
    width: 100%;
  }
  .column-wrapper {
    display: flex;
    flex-direction: column;
  }
  .section-title {
    display: flex;
    flex-direction: column;
    height: 100px;
    align-items: center;
    text-transform: uppercase;
  }
  .section-title h3 {
    font-size: 0.75em;
  }
  .section-title .rpg-text {
    margin-left: 10px;
  }
  .section-title .icon-container {
    order: -1;
    height: 50px;
    width: 50px;
  }
  .row {
    border-bottom: 4px solid #d1a35b;
  }
  .row h1 {
    text-align: center;
  }
  .row h1 {
    margin: 2% 4%;
  }
  .section#experience {
    margin-top: 5%;
  }
  #container {
    margin: 2%;
    padding: 0;
  }
  #contact-container {
    display: flex;
    flex-direction: column;
    margin: 1% 0;
  }
  #contact-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #contact-list li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  #contact-list li svg, #contact-list li span.web {
    text-align: center;
    display: block;
  }
  #contact-list li span.web {
    margin-top: 10px;
  }
  #contact-list li svg {
    width: 50%;
  }
}

/*Browser styling*/
@media screen {
  a {
    color: #84c7b4;
  }
  a:hover {
    text-decoration: underline;
  }
  .print-container {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #fffefc;
    border: 5px solid #d1a35b;
    margin: 1%;
    padding: 15px;
  }
  .column-wrapper {
    width: 100%;
  }
  .role.details {
    color: #3c8973;
  }
  .role.title {
    font-size: 1.5em;
  }
  .print-container svg {
    height: 50px;
    width: 50px;
    fill: #84c7b4;
  }
  .column .section {
    margin: 1% 2%;
    padding: 1vw 2vw;
  }
  #container {
    border: 4px solid #d1a35b;
    background-color: #fffefc;
  }
  #spider-chart-container {
    margin: 5% 0;
    width:100%;
  }
}

/*Print styling*/
@media print {
  .title-container, #contact-container {
    width: 46%;
  }
  .title-container {
    align-items: center;
    justify-content: space-evenly;
  }
  #avatar-container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  #avatar-container img {
    height: 75px;
    width: 75px;
  }
  h1 {
    margin: 0;
    text-align: center;
  }
  body {
    font-size: 12px;
  }
  .print-container, .web{
    display:none;
  }
  a {
    text-decoration: none;
  }
  .column-wrapper {
    display:flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 10px;
  }
  .column {
    width: 47%;
  }
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .section-title {
    align-items: baseline;
    border-bottom: 1px solid #013124;
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  .role.title {
    font-size: 1.25em;
  }
  .role.link.print {
    font-weight: bold;
  }
  .column .section {
    margin-top: 1%;
  }
  .section-title .icon-container {
    height: 19px;
    width: 19px;
  }
  .section-title {
    font-size: 1.25em;
    margin: 0 0 10px 0;
  }
  .section-title .rpg-text {
    margin-left: 5px;
  }
  .row {
    height: 150px;
  }
  .title-container, #contact-container {
    width: 47%;
  }
  .role.title, .role.info {
    margin: 0;
    padding: 0;
  }
  .role.info {
    margin-top: 2px;
  }
  .role.link.print, .role.link.print a {
    padding: 10px 0;
    margin: 0;
  }
  .role.details, .role.details li {
    margin: 0;
    padding: 0;
  }
  #stats {
    margin-top: 11px;
  }
  .subsection {
    margin: 5px 0;
    padding: 0;
  }
  #container {
    margin: 1%;
  }
  #contact-container {
    display: flex;
    flex-direction: column;
  }
  #contact-container .section-title {
    margin-bottom: 5px;
  }
  #contact-list li {
    padding: 1px 0;
    margin: 0;
  }
  #contact-list li a {
    display: flex;
    align-items: center;
    margin-left: 1%;
  }
  #contact-list li svg {
    width: 7%;
  }
  #contact-list li span.print {
    margin-left: 10px;
  }
  #spider-chart-container {
    margin: 5% 0;
    width:100%;
  }
}