/*
TODO:
- Print alignment
- Print coloring
- Attention to links
- tab in subpoints of role details
- Make print icon in bottom right corner which opens PDF in new tab
- Create PDF by adjusting chrome print settings, save as PDF, save in directory
- Create self avatar
- Create 8 bit icons for each section (exp: sword, arcana: book, mp: wand w/ sparks, crafting: hammer, summon: alchemy circle?)
*/

/*
1..n = darkest..lightest

turquoise:
  1: #000c08;
  2: #013124;
  3: #145b47;
  4: #3c8973;
  5: #84c7b4;

tan:
  1: #120b00;
  2: #4b2e01;
  3: #8b611f;
  4: #d1a35b;
  5: #ffdda9;

background-color: #f6e38c;
container  background-color: #fffefc;
container  border: 4px solid #a18d33;

*/

body {
  font-family: 'Press Start 2P', sans-serif;
  background-color: #013124;
}

ul {
  list-style-type: none;
  padding:0;
  margin:0 auto;
}

.subsection {
  margin: 10px 0;
}

.role, #contact-list span {
  font-family: 'Electrolize', sans-serif;
}


/*Desktop styling*/
@media screen and (min-width:950px) {
  h1 {
    padding-left: 2vw;
    width: 50%;
  }
  h3 {
    border-bottom: 1px solid #3c8973;
    margin: 3% auto;
    padding-bottom: 5px;
  }
  .column-wrapper {
    display:flex;
  }
  .column {
    width: 48%;
    margin: 0 auto;
  }
  .row {
    height: 125px;
    display: flex;
    justify-content: space-between;
    margin: 1% 2%;
  }
  #container {
    margin: 1% 10%;
  }
  #contact-container {
    width: 46%;
    height: 100%;
  }
  #contact-list {
    height: 80%;
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    align-content: stretch;
    padding: 0 10px;
  }
  #contact-list li {
    height: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }
  #contact-list li svg {
    height: 100%;
  }
  #contact-list li span.web {
    margin-left: 5px;
  }
  #spider-chart-container {
    width:100%;
  }
  .print{
    display:none;
  }
}

/*Mobile styling*/
@media screen and (max-width: 949px) {
  .print{
    display:none;
  }
  .column-wrapper {
    display: flex;
    flex-direction: column;
  }
  .row h1 {
    text-align: center;
  }
  .row h1, .row h3 {
    margin: 2% 4%;
  }
  #experience, #experience h3 {
    margin-top: 0;
    padding-top: 0;
  }
  #container {
    margin: 2%;
  }
  #contact-container {
    display: flex;
    flex-direction: column;
    margin: 1% 0;
  }
  #contact-list {
    display: flex;
    margin-bottom: 1%;
  }
  #contact-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #contact-list li svg, #contact-list li span.web {
    text-align: center;
    display: block;
  }
  #contact-list li svg {
    width: 50%;
  }
}

/*Browser styling*/
@media screen {
  body {
    color: #145b47;
  }
  h1 {
    color: #013124;
  }
  h3 {
    font-weight: bolder;
  }
  a {
    color: #84c7b4;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .column-wrapper {
    width: 100%;
  }
  .column .section {
    margin: 1% 2%;
    padding: 1vw 2vw;
  }
  .role.title {
    font-size: 1.25em;
  }
  .role.info {
    color: #8b611f;
  }
  .role.details {
    color: #3c8973;
  }
  #container {
    border: 4px solid #d1a35b;
    background-color: #fffefc;
    padding: 1%;
  }
}

/*Print styling*/
@media print {
  h3 {
    border-bottom: 1px solid #3c8973;
  }
  .column-wrapper {
    display:flex;
    align-items: flex-start;
    justify-content: space-around;
  }
  .column {
    width: 46%;
    margin: 10px auto;
  }
  .column .section {
    margin-top: 1%;
  }
  #education h3 {
    margin-top: 50px;
  }
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .row h1, #contact-container {
    width: 46%;
  }
  #container {
    margin: 1%;
  }
  #contact-container {
    display: flex;
    flex-direction: column;
  }
  #contact-list li {
    display: flex;
    margin-bottom: 5px;
  }
  #contact-list li svg {
    height: 100%;
    width: 5%;
  }
  #contact-list li span.print {
    margin-left: 5px;
  }
  #spider-chart-container {
    width:100%;
  }
  .web{
    display:none;
  }
}